<launch>

	<!-- default is NOT in simulation -->
	<arg name="sim_flag" default="0"/> 
	
	<!-- torque-based PID -->
	<node name="tunePID" pkg="iact_control" type="tunePID.py" args="$(arg sim_flag)" output="screen"/>

	<!-- Visualization -->
	<node name="rvizualizer" pkg="iact_control" type="rvizualizer.py"/> 

	<!-- Start RVIZ --> 
	<node pkg="rviz" type="rviz" name="rviz"/>

</launch>
