<launch>

	<arg name="p_gain" default="100"/>
	<arg name="i_gain" default="0"/>
	<arg name="d_gain" default="0"/>

	<arg name="iact_flag" default="0"/>

	<arg name="j0" default="180.0"/>
	<arg name="j1" default="180.0"/>
	<arg name="j2" default="180.0"/>
	<arg name="j3" default="180.0"/>
	<arg name="j4" default="180.0"/>
	<arg name="j5" default="180.0"/>
	<arg name="j6" default="180.0"/>

	<node name="pid_velocity_jaco" pkg="iact_control" type="pid_jaco.py" args="$(arg p_gain) $(arg i_gain) $(arg d_gain) $(arg j0) $(arg j1) $(arg j2) $(arg j3) $(arg j4) $(arg j5) $(arg j6) $(arg iact_flag)" output="screen"/>
	
	<!--<node name="pid_torque_jaco" pkg="iact_control" type="pid_torque_jaco.py" args="$(arg p_gain) $(arg i_gain) $(arg d_gain) $(arg j0) $(arg j1) $(arg j2) $(arg j3) $(arg j4) $(arg j5) $(arg j6)" output="screen"/>-->
	
</launch>
