<launch>

	<!-- <node pkg="rviz" type="rviz" name="my_rviz"/> -->

	<arg name="p_gain" default="15"/>
	<arg name="i_gain" default="0"/>
	<arg name="d_gain" default="2"/>

	<!-- TORQUE PID -->
	<node name="pid_torque_jaco" pkg="iact_control" type="pid_torque_jaco.py" args="$(arg p_gain) $(arg i_gain) $(arg d_gain)" output="screen"/> 

</launch>
