<launch>

	<!-- PID gains -->
	<arg name="p_gain" default="50"/>
	<arg name="i_gain" default="0"/>
	<arg name="d_gain" default="20"/>

	<!-- default is NOT in simulation -->
	<arg name="sim_flag" default="0"/> 

	<!-- velocity-based with trajopt planning PID -->
	<node name="pid_trajopt" pkg="iact_control" type="pid_trajopt.py" args="$(arg p_gain) $(arg i_gain) $(arg d_gain) $(arg sim_flag)" output="screen"/>

	<!-- Visualization -->
	<node name="rvizualizer" pkg="iact_control" type="rvizualizer.py"/> 

	<!-- Start RVIZ --> 
	<node pkg="rviz" type="rviz" name="rviz"/>

</launch>
